debug
[{"id":"6337a236.a0692c","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"systemarmed","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":140,"wires":[["de88da6d.787948"]]},{"id":"de88da6d.787948","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":140,"wires":[]},{"id":"910b7c27.b3fd4","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"armedstatus","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":180,"wires":[["49954fd3.114f5"]]},{"id":"49954fd3.114f5","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":180,"wires":[]},{"id":"7ac77079.217ac","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":240,"wires":[]},{"id":"e2956a38.bbe0b8","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"systemready","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":240,"wires":[["7ac77079.217ac"]]},{"id":"940510c8.77687","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":280,"wires":[]},{"id":"729817dc.3e29f8","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":320,"wires":[]},{"id":"122b63ca.cd49bc","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"armedaway","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":320,"wires":[["729817dc.3e29f8"]]},{"id":"cd5fdf79.99474","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":360,"wires":[]},{"id":"5be304b3.40fe2c","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"armedawaydesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":240,"y":360,"wires":[["cd5fdf79.99474"]]},{"id":"750bf65c.3ab488","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":400,"wires":[]},{"id":"7fb5e45e.f77f7c","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"armedstay","payloadType":"global","repeat":"","crontab":"","once":false,"x":220,"y":400,"wires":[["750bf65c.3ab488"]]},{"id":"b85b6aad.1cbf78","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":440,"wires":[]},{"id":"aaa6920a.e7e9e","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"armedstaydesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":240,"y":440,"wires":[["b85b6aad.1cbf78"]]},{"id":"711b341e.820d9c","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":500,"wires":[]},{"id":"64aa793e.c335d8","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"perimeteralarm","payloadType":"global","repeat":"","crontab":"","once":false,"x":240,"y":500,"wires":[["711b341e.820d9c"]]},{"id":"a3034c10.b7419","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":540,"wires":[]},{"id":"f1390598.fa09f8","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"perimeteralarmdesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":190,"y":540,"wires":[["a3034c10.b7419"]]},{"id":"efddc68a.73fa28","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":580,"wires":[]},{"id":"9e522e19.be192","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"interioralarm","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":580,"wires":[["efddc68a.73fa28"]]},{"id":"7a7743c2.8daa9c","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":620,"wires":[]},{"id":"74d65a83.cb7e44","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"interioralarmdesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":190,"y":620,"wires":[["7a7743c2.8daa9c"]]},{"id":"dfb43c10.db61e","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":660,"wires":[]},{"id":"d6f62743.b875b8","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"firealarm","payloadType":"global","repeat":"","crontab":"","once":false,"x":220,"y":660,"wires":[["dfb43c10.db61e"]]},{"id":"bcacef56.dd14a","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":700,"wires":[]},{"id":"e2825479.afe898","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"firealarmdesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":700,"wires":[["bcacef56.dd14a"]]},{"id":"5950d65a.b5f9d8","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":740,"wires":[]},{"id":"b1d76488.6ad188","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"auxalarm","payloadType":"global","repeat":"","crontab":"","once":false,"x":220,"y":740,"wires":[["5950d65a.b5f9d8"]]},{"id":"cf17a741.ec3c78","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":780,"wires":[]},{"id":"28415cb8.9b9fb4","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"auxalarmdesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":780,"wires":[["cf17a741.ec3c78"]]},{"id":"fcae7766.3aee08","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":820,"wires":[]},{"id":"e365e371.651e7","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"systemtrouble","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":820,"wires":[["fcae7766.3aee08"]]},{"id":"345fe4db.82b89c","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":860,"wires":[]},{"id":"92032de9.22234","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"systemtroubledesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":190,"y":860,"wires":[["345fe4db.82b89c"]]},{"id":"1a9b1a1.5ba3ee6","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":920,"wires":[]},{"id":"c73ecbe2.d2fad8","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"garagetemp","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":920,"wires":[["1a9b1a1.5ba3ee6"]]},{"id":"21dbf1b6.1bf7ee","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":960,"wires":[]},{"id":"e0c89296.e338b","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"garagepressure","payloadType":"global","repeat":"","crontab":"","once":false,"x":240,"y":960,"wires":[["21dbf1b6.1bf7ee"]]},{"id":"bfd65224.8533e","type":"comment","z":"be2b5ae5.41d4a8","name":"global to payload for debugging","info":"","x":250,"y":100,"wires":[]},{"id":"177acad1.374db5","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1000,"wires":[]},{"id":"5535a1d7.0ad8e","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"outsidetemp","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":1000,"wires":[["177acad1.374db5"]]},{"id":"a6b47491.f722c8","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1040,"wires":[]},{"id":"f825b409.44bd78","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"outsidehumidity","payloadType":"global","repeat":"","crontab":"","once":false,"x":240,"y":1040,"wires":[["a6b47491.f722c8"]]},{"id":"b0909022.c1764","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1100,"wires":[]},{"id":"4c59231d.67792c","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"forecasttemp","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":1100,"wires":[["b0909022.c1764"]]},{"id":"b82dd7b5.9d0868","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1140,"wires":[]},{"id":"7d11aacc.8d5c34","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"forecastpressure","payloadType":"global","repeat":"","crontab":"","once":false,"x":240,"y":1140,"wires":[["b82dd7b5.9d0868"]]},{"id":"f8734480.bfcb68","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1180,"wires":[]},{"id":"6b460c05.53cb94","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"forecasthumidity","payloadType":"global","repeat":"","crontab":"","once":false,"x":240,"y":1180,"wires":[["f8734480.bfcb68"]]},{"id":"28bd8c62.145c94","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1220,"wires":[]},{"id":"6710c6d7.c76708","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"forecastwindspeed","payloadType":"global","repeat":"","crontab":"","once":false,"x":190,"y":1220,"wires":[["28bd8c62.145c94"]]},{"id":"67b9f13b.c8cbb","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1560,"wires":[]},{"id":"c65911e4.e79de","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"testteststatus","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":1560,"wires":[["67b9f13b.c8cbb"]]},{"id":"a32d4294.451cb","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1520,"wires":[]},{"id":"642f49ff.256578","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"testtest","payloadType":"global","repeat":"","crontab":"","once":false,"x":210,"y":1520,"wires":[["a32d4294.451cb"]]},{"id":"7919d53f.c7557c","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"systemreadydesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":250,"y":280,"wires":[["940510c8.77687"]]},{"id":"aacc5301.a93de","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1640,"wires":[]},{"id":"1e419151.d04d2f","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"sysinfomemory.memusage","payloadType":"global","repeat":"","crontab":"","once":false,"x":190,"y":1640,"wires":[["5ae96f39.0e34d"]]},{"id":"5ae96f39.0e34d","type":"json","z":"be2b5ae5.41d4a8","name":"","x":430,"y":1640,"wires":[["aacc5301.a93de"]]},{"id":"c3d68782.a132e8","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"armedstatus","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":1260,"wires":[["2a026e7a.a1b502"]]},{"id":"2a026e7a.a1b502","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1260,"wires":[]},{"id":"133dc86f.cc7088","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"armedstatus_icon","payloadType":"global","repeat":"","crontab":"","once":false,"x":250,"y":1300,"wires":[["2ce708f9.092138"]]},{"id":"2ce708f9.092138","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1300,"wires":[]},{"id":"22da1a32.03bbe6","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"systemstatus","payloadType":"global","repeat":"","crontab":"","once":false,"x":230,"y":1340,"wires":[["69803a29.7369e4"]]},{"id":"69803a29.7369e4","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1340,"wires":[]},{"id":"64c77f87.38b19","type":"inject","z":"be2b5ae5.41d4a8","name":"","topic":"","payload":"systemstatusdesc","payloadType":"global","repeat":"","crontab":"","once":false,"x":250,"y":1380,"wires":[["1f226d9e.8ffca2"]]},{"id":"1f226d9e.8ffca2","type":"debug","z":"be2b5ae5.41d4a8","name":"","active":true,"console":"false","complete":"false","x":710,"y":1380,"wires":[]}]
